
// Pixel to Rem/Em Functions
@function convertToRem($value){
    @return calc($value / 16) + rem;
}


@function convertToEm($value){
    $calculated: calc($value/16);
    @return #{$calculated}em;
    
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}
