$color-activegreen:#488265;
$color-deepgreen: #00552A;
$color-richyellow:#FFE766;
$color-background: #EBF0ED;
$color-white: #fff;
$color-neutralgrey: #5F6160;
$color-lightgrey: #E2E2E2;
$color-tablegrey: #8A8A8A;
$color-focus-state: #62B84D;
$color-input: #F6F6F6;
$color-draft: #305743;
$color-account: #FAFAFA;
$color-transearch :  #EBF0ED;
$color-transbody: #F5F5F5;
$color-trackshipment: rgba(0, 0, 0, 0.75);

$font-khula:'Khula', sans-serif;

$font-navitem: 10px;
$font-draft: 19px;